// Logo Color
$primary-logo-color : #FF592A;
$white : #fff;
$black : #000000;
$bg-color : #F7F7F7;


// Typo
$primary-font : "Roboto";
$large-size : 48px;
$xlarge-size : 32px;
$medium-size : 23px;
$small-size : 16px;
$xsmall-size : 12px;

// TEXT STYLE
$text-align-center : center;
$text-align-left : left;
$text-align-right : right;

// BASE STYLE
$padding-section : 20px;