.aussi {
    .title-section {
        @include flex($direction : column, $justify : center, $align : center);
        @include title ($white, $medium-size, $text-align-center);
        height: 30vh;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(/images/2hommes-portent-un-meuble.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
    }

    .box-aussi{
        @include flex($direction : column, $justify : center, $align : center);
        padding : $padding-section;
        text-align: center;
    }
    .box1, .box2 {
        color : $white;
        fill : $white;
    }

    .box1{
        background-color: $black;
    }

    .box2{
        background-color: $primary-logo-color;
    }
    
    .box3{
        background-color: $white;
    }
}